<style>	

	body{
		background-color: lightgray;
	}
	.delete{
		background-color: white;
		width: 50%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		margin-left: auto;
  		margin-right: auto;
		box-shadow: 6px 2px 30px 0px rgba(0,1,0,1);
	}
	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}


</style>
<div class = 'delete'>
	<h3 style="text-align:center;">Are you sure you want to delete "{{item}}"?</h3>
	<a href="{% url 'list' %}" >Cancel</a>

	<form method="POST" action="">
		{% csrf_token %}
		<input type="submit" name="Confirm">
	</form>
</div>

